<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:security="http://www.springframework.org/schema/security"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
        http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security-3.2.xsd">
       
    <context:annotation-config />
    <context:component-scan base-package="csjobs" />
    <tx:annotation-driven />
        
	<security:authentication-manager>
        <security:authentication-provider user-service-ref = "userService">
            <!-- <security:jdbc-user-service data-source-ref="dataSource" /> -->
        </security:authentication-provider>
    </security:authentication-manager>
    
	<!-- <security:http auto-config="true" /> -->

    <security:http use-expressions="true">
        <security:form-login login-page="/login"
            authentication-success-handler-ref="authenticationSuccessHandler"
            authentication-failure-url="/login.html" />
        <security:logout success-handler-ref="logoutRedirectHandler" />
   		<security:intercept-url pattern="/adminhome.html" access="hasRole('ROLE_ADMIN')" />
        <security:intercept-url pattern="/applicanthome.html" access="hasRole('ROLE_APPLICANT')" />
        <security:intercept-url pattern="/reviewerhome.html" access="hasRole('ROLE_REVIEWER')" />
		<security:intercept-url pattern="/addJob.html" access="hasRole('ROLE_ADMIN')" />
        <security:intercept-url pattern="/viewJob.html" access="hasRole('ROLE_ADMIN')" />
        <security:intercept-url pattern="/editJob.html" access="hasRole('ROLE_ADMIN')" />
        <security:intercept-url pattern="/ applyForJob.html" access="hasRole('ROLE_APPLICANT')" />
        <security:intercept-url pattern="/addJobDetails.html" access="hasRole('ROLE_APPLICANT')" />
		<security:intercept-url pattern="/addDegree.html" access="hasRole('ROLE_APPLICANT')" />
		<security:intercept-url pattern="/prepareJobApplication.html" access="hasRole('ROLE_APPLICANT')" />
		<security:intercept-url pattern="/submitJobApplication.html" access="hasRole('ROLE_APPLICANT')" />
    </security:http> 

    <bean id="dataSource" class="org.apache.tomcat.jdbc.pool.DataSource" destroy-method="close">
        <property name="driverClassName" value="org.postgresql.Driver" />
        <property name="url" value="jdbc:postgresql://localhost:5432/csjobs" />
        <property name="username" value="csjobs" />
        <property name="password" value="abcd" />
        <property name="initialSize" value="1" />
    </bean>

    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="csjobs" />
        <property name="dataSource" ref="dataSource" />
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>
    
    <bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />
	<bean id="logoutRedirectHandler" class="csjobs.security.LogoutRedirectHandler" /> 
	<!-- <bean id="userService" class="csjobs.security.UserDetailsServiceImpl" /> -->
    
    <security:global-method-security pre-post-annotations="enabled" />

</beans>